<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blogs">Blogs</a>
    </nav>
    <main class="content">
      <h1 class="h2">Fundo Thabethe</h1>
      <h2>
        Am a full stack web developer with more potential to keep on learning
        and expand my knowledge
      </h2>
    </main>
  </body>
</html>
