<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fundo server</title>
  </head>
  <body>
    <nav>
      <a class="a" href="/">Home</a>
      <a class="a" href="/about">About</a>
      <a class="a" href="/create">Create Blog</a>
    </nav>
    <main class="content">
      <h2>All Blogs</h2>
      <div class="blog2 container">
        <div class="blog1">
          <h2><%= blog.title %></h2>
          <p><%= blog.snippet %></p>
          <p><%= blog.body %></p>
          <a href="delete" data-doc="<%= blog._id %> " class="delete">delete</a>
        </div>
      </div>
    </main>
    <script>
      const rm = document.querySelector("a.delete");
      rm.addEventListener("click", (e) => {
        const endpoint = `/blogs/${rm.dataset.doc}`;
        fetch(endpoint, { method: "DELETE" })
          .then((res) => res.json())
          .then((jsn) => (window.location.href = jsn.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
